RewriteEngine On

# Jangan ganggu file & folder asli (css, js, assets, dll)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect kalau ada yang akses view/namafile.html -> /namafile
RewriteCond %{THE_REQUEST} \s/view/([^.]+)\.html[\s?] [NC]
RewriteRule ^view/([^.]+)\.html$ /$1 [R=301,L]

# Akses /namafile -> arahkan ke view/namafile.html
RewriteCond %{DOCUMENT_ROOT}/view/$1.html -f
RewriteRule ^([A-Za-z0-9-_]+)/?$ view/$1.html [L]